In [ ]:
import pandas as pd
df = pd.read_csv('combined.csv')
df.head()

,Player,Matches,runs_scored,highest,bat_avg,hundreds,fifties,overs,runs_given,wickets,best_fig,bw_avg
0,JE Root,4,368,218,46.00,1,0,45.0,141,6,5/8,23.50
1,JC Buttler,1,54,30,27.00,0,0,0.0,0,0,NaN,0.00
2,BA Stokes,4,203,82,25.37,0,2,42.4,153,5,4/89,30.60
3,DW Lawrence,3,149,50,24.83,0,1,0.0,0,0,NaN,0.00
4,MM Ali,1,49,43,24.50,0,0,61.0,226,8,4/98,28.25

In [ ]:
x = df['best_fig'].copy()
x = x.fillna('/')
x

0      5/8
1        /
2     4/89
3        /
4     4/98
5        /
6        /
7        /
8     4/76
9        /
10       /
11    4/54
12       /
13       /
14    2/75
15    3/17
16    3/47
17     1/1
18       /
19       /
20    6/61
21       /
22       /
23       /
24       /
25    6/38
26    2/45
27    2/22
28    3/84
29    2/25
30    2/66
Name: best_fig, dtype: object

In [ ]:
df['max_w'] = x.apply(lambda x:x.split('/')[0])

In [ ]:
df['min_r'] = x.apply(lambda x:x.split('/')[1])

In [ ]:
max_w = df['max_w'].max()
max_w

'6'

In [ ]:
df[df['max_w']==max_w]

,Player,Matches,runs_scored,highest,bat_avg,hundreds,fifties,overs,runs_given,wickets,best_fig,bw_avg,max_w,min_r
20,R Ashwin,4,189,106,31.50,1,0,188.1,471,32,6/61,14.71,6,61
25,AR Patel,3,55,43,13.75,0,0,27.4,286,27,6/38,10.59,6,38

In [ ]:
# Best Bowling is of AR Patel
# 6/38